
numpy
opencv-python==4.10.0
opencv-python-headless==4.10.0
pandas==2.2.3
pillow
pytorch-lightning
scipy==1.13.1
streamlit==1.45.0
torch==1.13.1
torchaudio==0.13.1
torchjpeg==0.9.32
torchmetrics
torchvision==0.14.1
tornado==6.4.2
tqdm
lpips==0.1.4
